    <!-- About Section -->
    <section id="about" class="container content-section">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What you’ll learn</h2>
              <div>
                  <br/>
                  <p><strong>-&nbsp;</strong>How to create complete application using Functional Programming Principles using F#</p>
                  <p><strong>-&nbsp;</strong>An in-depth understanding of Web development in F# using <a href="https://suave.io/">Suave</a></p>
                  <p><strong>-&nbsp;</strong>How to develop applications using EventSourcing, CQRS, and DDD in F#
                  </p>
                  <p><strong>-&nbsp;</strong>How to set up continuous integration and continuous deployment using FAKE and Docker
                  </p>
                  <p><strong>-&nbsp;</strong>How to leverage libraries like Rx, FSharp.Data and Paket
                  </p>
              </div>
              </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Who this book is for</h2>
              <br/>
                  <p>This book targets "intermediate" users of F#. If you are a beginner, I recommend you to checkout the following resources to get the most out of the book</p>
                  <p><strong>-&nbsp;</strong>
                    <a href="http://www.fsharpworkshop.com/">F# Workshop</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://fsharpforfunandprofit.com/series/thinking-functionally.html">Thinking Functionally</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://fsharpforfunandprofit.com/series/a-recipe-for-a-functional-app.html">A recipe for a functional app</a>
                  </p>
                  <p><strong>-&nbsp;</strong>
                    <a href="https://www.udemy.com/starting-fsharp/">Introduction to F#</a>
                  </p>
                  <p>
                    If you are someone who is familiar with the basics of F# and wants to develop some complex applications beyond the basics, this book will be an excellent companion.
                  </p>
              <br/>
              </div>
        </div>
    </section>
