<div id="chapters" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
      <h2>Chapters</h2>
      </br>
      <p>In the <em>first chapter</em>, Understanding Suave, you are going to build a minimal version of Suave called MiniSuave. This chapter uses one of the powerful learning technique called <strong>Learning by Synthesis</strong>. You are going to learn the design principles of Suave library by building a minimal version of it.</p>
      <p>The <em>second chapter</em> introduces the <strong>Suave library</strong> and helps you to get started with the Web development.</p>
      <p>The <em>third chapter</em> is one of the important chapters of this book. It is going to help you on how to <strong>build bigger applications by composing smaller functions</strong>. This chapter will also help you to get a solid understanding of Suave.</p>
      <p>In <em>the fourth chapter</em>, you will be learning how to create middlewares in Suave. You will be developing a JWT <strong>authentication and authorization middleware</strong> for Web APIs.</p>
      <p>The <em>fifth chapter</em> introduces you to the wonderful world of the <strong>Functional Reactive Programming(FRP)</strong>. We will be implementating an API Gateway by writing a beautiful code using Rx</p>
      <p>The <em>last chapter</em> reveals the magic of this book. We will be developing a <strong>business application end to end</strong>. You are going to witness Domain Driven Development (DDD), <a href="http://martinfowler.com/eaaDev/EventSourcing.html">EventSourcing</a>, <a href="http://martinfowler.com/bliki/CQRS.html">CQRS</a>, <a href="http://fsharp.github.io/FAKE/">FAKE</a> (for <a href="https://en.wikipedia.org/wiki/Continuous_integration">CI</a>), <a href="https://fsprojects.github.io/Paket/">Paket</a> and <a href="https://www.docker.com/">Docker</a> (for <a href="https://puppet.com/blog/continuous-delivery-vs-continuous-deployment-what-s-diff">CD</a>) in action!</p>
    </div>
    </div>
  </div>
</div>