<section id="foreword">
<!-- Page Content -->



    <div class="content-section-b">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Foreword</h3>
                <div class="clearfix"></div> <br />
                <div class="lead">
                  <blockquote>
                    <p>Tamizhvendan has written a book that will blow your mind (in a good way) – beginner or intermediate alike. In a lucid and clear manner, He walks through creating a full web app. He shows you how to build a website that instantaneously updates in response to what happens on the server.</p>
                    <p>Through this, you’ll learn not only good patterns for writing functional web APIs and web apps but also get a taste of how it works end-to-end. Typically books that try this get lost on the way; some descend into a single piece of functionality that gets overworked, some into obsessive testing and others simply skip over it. In F# Applied, you’ll learn how it’s done for real<sup>TM</sup>, instead.</p>
                    <p>The strength of this book is its focus on the end-to-end scenario of using Suave, thereby letting you learn like you were pair-programming with a benevolent senior developer by your side.</p>
                    <p>Read this. You’ll enjoy it.</p>
                  </blockquote>
                </div>
                <h4 class="section-heading foreword-author">Henrik Feldt<em class="credentials">, Co-author of Suave and CEO of qvitoo.com</em></h4>
            </div>
        </div>
      </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="clearfix"></div>
                    <div class="lead">
                      <blockquote>
                        <p>As the designer of F#, I’m delighted to recommend this book to you. “F# Applied” is an excellent introduction to applied, modern programming for the web. Starting with Suave, the F# server-side web framework, this book will teach you how to create complete applications using Functional-First Programming with F#. Tamizhvendan teaches you how to write simple, clear code and to use the latest web development techniques.</p>
                        <p>Functional Programming is highly suited to the era of the Web and Cloud. If you are a web programmer, you need to be thinking functionally – so make the shift now!</p>
                        <p>I also personally invite you to contribute to the F# community through participation in the <a href="http://fsharp.org">F# Software Foundation</a>.  I am a member of the organization and am proud to contribute my part to the community.  I encourage you to learn how to contribute to the technologies you use – don’t just be a “user”, but be a “maker” as well.</p>
                      </blockquote>
                    </div>
                    <h4 class="section-heading">Don Syme<em class="credentials">, Designer and Architect of F#, Principal Researcher at Microsoft Research</em></h4>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-b -->
    <div class="content-section-b">
      <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="clearfix"></div>
                <div class="lead">
                  <blockquote>
                    <p>Tamizhvendan is an early Suave adopter and has often written about Suave micro-services. In this book, he does a great job explaining the basic principles on which Suave is built on. I found the style easy to follow.</p>
                    <p>This book will teach you how to create Suave-based web applications using modern application development techniques; from start to finish, including setting up Continuous Integration and deploying containers to the cloud!</p>
                  </blockquote>
                </div>
                <h4 class="section-heading">Ademar Gonzalez<em class="credentials">, Co-author of Suave, Lead Programmer at Code Maker Inc</em></h4>
            </div>
        </div>
      </div>
        <!-- /.container -->
    </div>
    <!-- /.content-section-a -->


</section>
