<section id="reviews" class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">If you want to power up your learning I&#39;d suggest you take a look at this awesome book on f# <a href="https://twitter.com/hashtag/webdev?src=hash">#webdev</a> <a href="https://t.co/OHRddtuCPK">https://t.co/OHRddtuCPK</a></p>&mdash; FSharpTV (@AwesomeFSharp) <a href="https://twitter.com/AwesomeFSharp/status/742262424015900672">June 13, 2016</a></blockquote>

        </div>
        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/tamizhvendan">@tamizhvendan</a> has a nice blog <a href="https://t.co/1MmamNNGw2">https://t.co/1MmamNNGw2</a>.  He&#39;s also author of &quot;F# Applied&quot; on web with F#+Suave <a href="https://t.co/bhJYPZRI0r">https://t.co/bhJYPZRI0r</a></p>&mdash; Don Syme (@dsyme) <a href="https://twitter.com/dsyme/status/742146358656831488">June 13, 2016</a></blockquote>

        </div>
        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en">
            <p lang="en" dir="ltr">F# Applied is a very good book. Teaches how to build Suave framework from ground up.</p>&mdash; Vagif Abilov (@ooobject) <a href="https://twitter.com/ooobject/status/743306685771440128">June 16, 2016</a>
          </blockquote>
        </div>
        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en">
            <p lang="en" dir="ltr">I bought this <a href="https://twitter.com/tamizhvendan">@tamizhvendan</a>  book about <a href="https://twitter.com/SuaveIO">@SuaveIO</a> few days ago and must say it is totally kick ass! <a href="https://twitter.com/hashtag/goodjob?src=hash">#goodjob</a> <a href="https://twitter.com/hashtag/fsharp?src=hash">#fsharp</a><a href="https://t.co/xuKRZbSKc0">https://t.co/xuKRZbSKc0</a></p>&mdash; Roman Provazník (@Dzoukr) <a href="https://twitter.com/Dzoukr/status/743388528118206464">June 16, 2016</a></blockquote>

        </div>

        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I&#39;ve just started reading <a href="https://twitter.com/tamizhvendan">@tamizhvendan</a> book about <a href="https://twitter.com/SuaveIO">@SuaveIO</a> and F#. Really nice to start with you own implementation of <a href="https://twitter.com/hashtag/suave?src=hash">#suave</a>. <a href="https://twitter.com/hashtag/recommend?src=hash">#recommend</a></p>&mdash; Vicenç García-Altés (@vgaltes) <a href="https://twitter.com/vgaltes/status/742827351113891840">June 14, 2016</a></blockquote>

        </div>
        <div class="col-lg-6">
          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">I find F# Applied very well written. Thanks <a href="https://twitter.com/tamizhvendan">@tamizhvendan</a> for a great job! (and a ;) for the <a href="https://twitter.com/SuaveIO">@SuaveIO</a> team)</p>&mdash; Lay (@laygr) <a href="https://twitter.com/laygr/status/765725896502226944">August 17, 2016</a></blockquote>
        </div>

      </div>
    </div>
  </div>
  <br>
  <br>
</section>